<p>The “Flayer” – officially the Heavy
Howitzer-Shotgun 075 – is a compact,
formalized version of the popular “Daisy
Cutter” howitzer-shotgun used by Trunk
Security and other stellar marine forces.
Chambered to accept shot, shell, or sabot,
the Flayer sacrifices some of the Daisy-
Cutter’s raw power in favor of control and
a much-improved fire rate.</p>